input[type='text'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  color: #000;
  background-color: #f8f8f8;
  font-size: larger;
  transition: 0.3s;
}

input[type='text']:focus {
  border-color: #4d90fe;
}