.Animal {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 5em;
}

.Animal-Image-Video {
  flex: 1;
  max-width: 50%;
  margin-right: 2em;
}

.Animal img, .Animal video {
  width: auto;
  height: 600px;
  border-radius: 10px;
  object-fit: cover;
}

.Animal-Details {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40%;
}

.Animal-Details h1 {
  margin: 0 0 1em 0;
  font-size: 2em;
}

.Animal-Details p {
  margin: 0;
  font-size: 1.2em;
  line-height: 1.5;
}