.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2em;
  background-color: hsl(209, 52%, 39%);
}

.Header-Subtitle {
  color: #fff;
}

button {
  background-color: #f0f0f0; 
  color: #000;
}

button.selected {
  background-color: #007BFF; 
  color: #fff;
}