.Header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  background-color: hsl(209, 52%, 39%);
  padding: 1em;
}

.Header-Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 0.5em;
}

.Header button {
  background-color: #f0f0f0; 
  color: #000;
  margin: 1em 0;
}

.Header button.selected {
  background-color: #007BFF; 
  color: #fff;
}

.Header-NavBar {
  display: flex;
  align-items: center;
}