.NavBar {
  background-color: #2b6cb0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
}

.NavLeft, .NavCenter, .NavRight {
  display: flex;
  width: 33.33%;
}

.NavLeft {
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.hamburger {
  display: none;
}

.NavCenter {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.NavRight {
  flex-direction: column;
  align-items: flex-end;
}

nav .link {
  color: #ffffff;
  background: transparent; /* Ensure background is transparent */
  font-size: 1.5em;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

nav .link:hover {
  color: #cccccc;
}

.NavBar .NavRight .TaskBars .randomlink {
  margin-left: 0.5em;
}

.NavLeft .link {
  padding-left: 1em;
  margin: 0;
}

.NavLeft .link.selected {
  color: #3e3e3e;
}

.NavRight {
  padding-right: 1em;
  margin: 0;
}

.NavRight button {
  background-color: #f0f0f0; 
  color: #000000;
  font-size: 0.8em;
  padding: 0.5em 0.8em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; 
}

.NavRight button.selected {
  background-color: #007bff; 
  color: #ffffff;
}

.NavRight button:hover {
  background-color: #e0e0e0; 
  color: #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.NavRight button.selected:hover {
  background-color: #0056b3; 
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.NavDate {
  font-size: 0.8em;
  color: #cccccc;
}

a.randomlink {
  width: 140px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: .8em;
  padding: 0.5em;
  text-align: center;
  background-color: #007bff; 
  color: #ffffff; 
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

a.randomlink:hover {
  background-color: #0056b3; 
  color: #ffffff; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

@media screen and (max-width: 800px) {
  .NavBar {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .NavLeft, .NavCenter, .NavRight {
    width: 100%;
  }
  .NavLeft {
    justify-content: center;
    align-self: first baseline;
    display: flex;
    grid-row: 2; 
  }
  .hamburger {
    display: block;
    margin-left: 0.5em;
    font-size: 2em;
    color: #ffffff;
    background-color: #2b6cb0;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 0.2em;
    border-radius: 4px;
  }
  .hamburger:hover {
    color: #cccccc;
    background-color: #1f4f7a;
  }
  .menu {
    display: none;
  }
  .menu.open {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 75%;
    top: 10;
    z-index: 1; /* Added to ensure .menu.open is above other elements */
  }
  .NavCenter {
    grid-row: 1;
    position: absolute;
    margin-bottom: 5em;
  }
  .NavRight {
    grid-column: span 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
  }
  .Translate {
    grid-column: 2;
    margin-right: 0.5em;
    justify-self: flex-end;
  }
  .TaskBars {
    grid-column: 1;
    justify-self: center;
    margin-left: auto;
  }
  .NavSubtitle,
  .NavDate {
    display: none;
  }
}