.AnimalList {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2em;
	max-width: 100%;
	margin: auto;
	padding: 2em;
}

.AnimalList a {
	font-size: 2em;
	text-align: center;
	width: 25vw;
	background-color: hsl(209, 52%, 39%);
}

.AnimalList a img, video {
	width: 25vw;
	height: auto;
}

/* Smaller screens and tablets */
@media only screen and (max-width: 960px) {
	.AnimalList {
		grid-template-columns: 1fr 1fr;
	}
}

/* Small screens mobile */
@media only screen and (max-width: 700px) {
	.AnimalList {
		grid-template-columns: 1fr;
	}
}