.AnimalList {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1em;
	max-width: 100%;
	margin: auto;
	padding: 1em;
	justify-items: center; 
	align-items: center; 
}

.AnimalList a {
	font-size: 2em;
	text-align: center;
	width: 25vw;
	background-color: hsl(209, 52%, 39%);
}

.AnimalList-animal {
	display: flex;
	flex-direction: column;
	align-items: space-between;
	width: 25vw;
	height: auto;
}

/* Smaller screens and tablets */
@media only screen and (max-width: 960px) {
	.AnimalList {
		grid-template-columns: 1fr 1fr;
	}
}

/* Small screens mobile */
@media only screen and (max-width: 800px) {
	.AnimalList {
		grid-template-columns: 1fr;
		width: 85vw;
	}
	.AnimalList a {
		width: 75vw;
	}
	.AnimalList-animal {
		width: 100%;

	}
}