.Map {
  height: 100%; 
  width: 75vw;
  position: absolute;
  top: calc(50% + 25vh);
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-height: 650px) {
  .Map {
    top: calc(50% + 40vh);
  }
}